.App_Container {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
  
  border: 2px solid black;
  height: 100vh;
  /* background-color: lightgray; */
}

.Title_Container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
  /* border: 2px solid black; */
  height: 10vh;
  margin: 0.5%
}

.Title_Text {
  font-size: 55px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Content_Container {
  display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  
  /* border: 2px solid black; */
  height: 90vh;
  margin: 0.5%
}

.American_League_Container {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  
  background-color: ghostwhite;
  border-radius: 4%;
  border: 4px solid #002E6D;
  box-shadow: 4px 4px 4px #002E6D;
  height: 80vh;
  width: 20vw
}

.National_League_Container {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  
  background-color: ghostwhite;
  border-radius: 4%;
  border: 4px solid #002E6D;
  box-shadow: 4px 4px 4px #002E6D;
  height: 80vh;
  width: 20vw
}

.American_Logo {
  margin-top: 2%;
  height: 20%;
}
.American_Input {
  margin-top: 2%;
}

.National_Logo {
  margin-top: 2%;
  height: 20%
}

.National_Input {
  margin-top: 2%;

}

.Team_Name_Container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  
  margin-top: 4%;
  background-color: ghostwhite;
  border: 2px solid #002E6D;
  border-radius: 4%;
  height: 55vh;
  width: 18vw;
}

.Team_Name_Text {
  font-size: 14px;
  font-weight: bold
}